# Compiled Object files
*.slo
*.lo
*.o

# compiled result file
crxprof
test/a.out

# GNU Autoconf and Automake
Makefile.in
Makefile
aclocal.m4
autom4te.cache
config.h
config.h.in*
config.log
config.status
/config/*
configure
.deps
.dirstamp
stamp-h1



# Vim editor
*.swp
*.bak

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
